.Banner {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4rem;
  display: grid;
  grid-template-areas: "logo title nav";
  grid-template-columns: 5rem auto auto;
  background-color: #282c34;
  box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2);
}

.Banner .logo {
  display: grid;
  grid-area: "logo";
  height: 4rem;
}

.Banner .title {
  display: grid;
  grid-area: "title";
  height: 4rem;
  align-items: center;
  font-size: 2rem;
}

.Banner .nav {
  display: grid;
  grid-area: "nav";
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

.overflow-nav {
  display: none !important;
}

.Banner .title, .Banner .nav a {
  color: #ffffff;
  font-weight: 500;
}

.Banner .nav a {
  font-size: 1.25rem;
  transition: 0.5s;
  text-decoration: none;
}

.Banner .nav a:hover {
  transform: scale(1.1);
}

.overflow-menu {
  position: absolute;
  right: 0;
  top: 3rem;
  width: 10rem;
  background-color: rgb(0, 128, 128);
}

.overflow-menu ul {
  list-style-type: none;
}

.overflow-menu ul li {
  padding: .25rem 0;
}

@media screen and (max-width: 680px) {
  .Banner {
    height: 3rem !important;
  }

  .Banner .title {
    font-size: 1.5rem !important;
    height: 3rem !important;
  }

  .Banner .logo {
    height: 3rem !important;
  }

  .Banner .nav {
    justify-content: right;
    padding-right: 1rem;
    grid-template-columns: repeat(1, auto) !important;
  }

  .Banner .nav a:hover {
    cursor: pointer;
  }

  .full-nav {
    display: none !important;
  }

  .overflow-nav {
    display: grid !important;
  }
}
