.TileButton {
  display: grid;
  border: 1px solid #ffffff;
  width: 13rem;
  height: 13rem;
  padding: 20px;
  background: rgb(9, 123, 151);
  box-shadow: 0 .25rem .3rem rgba(0, 0, 0, 0.16), 0 .25rem .3rem rgba(0, 0, 0, 0.23);
  border-radius: 1.5rem;
  transition: all 0.4s;
  text-align: center;
  font-size: 1.75rem;
  color: #ffffff;
}

.TileButton:hover {
  box-shadow: 0 .5rem .6rem rgba(255, 255, 255, 0.25), 0 .5rem .6rem rgba(255, 255, 255, 0.22);
  transition: all 0.4s;
  cursor: pointer;
}
