html, body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  padding-top: 3.5rem;
  margin: .5rem;
}

.skip-link {
  background: #f0bf94;
  height: 2rem;
  padding: .5rem;
  line-height: 2rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  text-decoration: none;
  color: #000000;
}

.skip-link:focus {
  transform: translateY(0%);
  visibility: visible;
  z-index: 3;
}

.fade-enter {
  transition: 0.5s ease-in opacity;
}

.fade-enter, .fade-exit-active {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  z-index: 1;
}
