.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  padding-top: 3.5rem;
  margin: .5rem;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
}
