.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  padding-top: 3.5rem;
  margin: .5rem;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
}

.fade-enter, .fade-exit {
  /* TODO - better way to do this? It moves the page content.
  Without it, the new page loads from the bottom. */
  /* position: absolute;
  top: 0;
  left: 0; */
  transition: 0.8s ease opacity;
}

.fade-enter, .fade-exit-active {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  z-index: 1;
}
